.idea
*__pycache__
**secrets.py
.breakpoints_bak
.replit
.DS_Store
100\ Days\ of\ Code/Day\ 029\ -\ Building\ a\ Password\ Manager\ GUI\ App\ with\ Tkinter/data.txt
100\ Days\ of\ Code/Day\ 030\ -\ Errors\,\ Exceptions\ and\ JSON\ Data\:\ Improving\ the\ Password/data.json
100\ Days\ of\ Code/Day\ 031\ -\ Flash\ Card\ App\ Capstone\ Project/data/words_to_learn.csv
